body {
    background-color: #172220;
}

div#screen {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

div#title {
    color: white;
    font-size: 50px;
    font-weight: bold;

    align-items: center;
}